Hi there,

A password reset has been requested for the email address {{ email }}. 
If you made this request, follow the link below:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

In case you forgot, your username is {{ user.username }}

If clicking the link above doesn't work, please copy and paste the URL in a new browser window instead.

If you didn't initiate this request, no further action needs to be taken and you can safely disregard this email.

Thanks,

The VidArea Team